&i2c1 {
	bme280@76 {
		compatible = "bosch,bme280";
		reg = <0x76>;
	};

	apds9960@39 {
		compatible = "avago,apds9960";
		reg = <0x39>;
		label = "APDS9960";
		int-gpios = <&gpio0 4 (GPIO_ACTIVE_LOW)>;
	};
};
